<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>

    <div id="box">
        <input type="text" v-model="mytext" placeholder="input value here" @input="handleInput">
        <ul>
            <li v-for="item in datalist" :key="item" >
                {{item}}
            </li>
        </ul>
    </div>

    <script>
        let obj = {
            data() {
                return {
                    mytext:"",
                    datalist:
                        [   'aaa',
                            'bbb',
                            'ccc',
                            'ddd',
                            'eee',
                            'asdv',
                            'zcxv',
                            'wrg',
                            'jbn',
                            'piyu',
                            'vpoa',
                            'dery'],
                            baklist:
                        [   'aaa',
                            'bbb',
                            'ccc',
                            'ddd',
                            'eee',
                            'asdv',
                            'zcxv',
                            'wrg',
                            'jbn',
                            'piyu',
                            'vpoa',
                            'dery']
                }
            },
            methods:{
                handleInput(){
                    // console.log(this.mytext);
                    this.datalist = this.baklist.filter(item=>item.includes(this.mytext))
                }
            }
        }
        let app = Vue.createApp(obj).mount('#box')

        //过滤
        var arr = [1,2,3,4,5]

        var list = arr.filter(item => item>3)

        console.log(list)
    </script>

</body>

</html>