<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../vue.js"></script>
</head>
<body>

<div id="box">

    <ul>
        <li v-for="item in datalist">
            {{item.code}}
            <div v-if="item.code===200">
                <b>success</b>
            </div>
            <div v-else-if="item.code===302">
                <b>time out</b>
            </div>
            <div v-else>
                <b>not found</b>
            </div>
        </li>
    </ul>

</div>

<script>

    // v-if v-else-if v-else
    let obj = {
        data() {
            return {
                datalist: [
                    {
                        code: 200,
                        message: 'success'
                    },
                    {
                        code: 302,
                        message: 'time out'
                    },
                    {
                        code: 404,
                        message: 'not found'
                    }
                ]
            }
        }
    };
    let app = Vue.createApp(obj).mount("#box");
</script>

</body>
</html>